@model TestingCoreIdentity.Models.Post
@{
    ViewData["Title"] = "Details";
}



<div class="col-md-12 text-center">

    <img src="@Url.Content("~/" + TestingCoreIdentity.Properties.Resources.ImgFolder + "/" + Model.ImageUrl)" width="450" />


    <div class="caption">
        <h3>
            @Html.DisplayFor(modelItem => Model.Subject)

        </h3>
        @Html.Raw(Model.Body)


        <br />
        عدد الزوار   @Html.DisplayFor(modelItem => Model.Readers)
        <br />

        المصدر : @Html.DisplayFor(modelItem => Model.AuthorName)

        <br />

        @Html.DisplayFor(modelItem => Model.PublicationDate )
    </div>

</div>

