@model TestingCoreIdentity.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Body)*@
            @Html.Raw(Model.Body)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.ImageUrl)*@
          
            <img src="@Url.Content("~/" + TestingCoreIdentity.Properties.Resources.ImgFolder + "/" + Model.ImageUrl)" width="150" height="90" />
        
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
